$size: 750px;

.App {
  width: $size;
  height: $size;
  position: relative;
  margin: 0 auto;
  border: 1px solid #333;
  margin-top: 3rem;

  .Snake, .Fruit {
    top: 0;
    left: 0;
    position: absolute;
  }

  .Fruit {
    width: 30px;
    margin: 4px;
  }

  .SnakeHead {
    $size: 50px;
    width: $size;
    height: $size;
    margin-left: -4px;
    margin-top: -4px;
  }
}